@import '../../../styles/helpers.scss';

section.infos {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    margin-bottom: 86px;
    justify-content: space-between;

    .box {
        @include center;
        flex-direction: column;
        text-align: center;
        gap: 10px;

        h1 {
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 0.8px;
            color: #505050;
        }

        p {
            font-size: 1rem;
            font-weight: normal;
            letter-spacing: 0.8px;
            color: #434343;
        }

        h4 {
            font-size: 1rem;
            font-weight: normal;
            letter-spacing: 0.8px;
            color: #f0bc2d;
            cursor: pointer;
        }
    }
}