@import "../../../styles/helpers.scss";

header.navbar {
  height: 10vh;
  width: 100%;
  background-color: white;

  section.navbar-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    max-width: 1366px;
    margin: auto;
  }

  .logo {
    h1 {
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.5px;
      text-align: left;
      color: #7e9f87;
      cursor: pointer;

      span {
        color: #00b130;
      }
    }
  }

  ul.menu {
    display: flex;
    gap: 50px;

    li {
      font-size: 1rem;
      font-weight: normal;
      letter-spacing: 0.8px;
      color: #505050;
      cursor: pointer;
      display: flex;
      gap: 10px;
    }
  }

  .actions {
    display: flex;
    gap: 30px;

    .flag-menu-item {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-grow: 1;
      cursor: pointer;

      .flag-wrapper {
        position: relative;
        max-width: 24.4px;
        width: 100%;
        height: 16px;
      }

      .arrow-down-wrapper {
        position: relative;
        max-width: 13px;
        width: 100%;
        height: 8.4px;
      }
    }

    .user-item {
      flex-grow: 1;

      .user-wrapper {
        cursor: pointer;
        position: relative;
        max-width: 25px;
        width: 100%;
        height: 25px;
      }
    }
  }
}
